@font-face{font-family:GillSansAlt1-Light;src:url(../Fonts/d0ee6022-2347-4590-b414-ca2ed2549284.eot?#iefix);src:url(../Fonts/d0ee6022-2347-4590-b414-ca2ed2549284.eot?#iefix)format("eot"),url(../Fonts/70fcc5e8-50c3-4f77-a3de-24be2c425d6e.woff)format("woff"),url(../Fonts/2973083a-fe23-4a5c-97fd-55025f13142e.ttf)format("truetype"),url(../Fonts/71c0c309-b90d-4406-8529-c9467d2f8174.svg#71c0c309-b90d-4406-8529-c9467d2f8174)format("svg");font-weight:400;font-style:normal}

body {
  font-family: "GillSansAlt1-Light", Helvetica,Arial,sans-serif;
}
.headerCopy {
    background: #6c6f70;
}
.headerCopy p {
    color: #fff;
    width: 80%;
    margin: 0 auto;
}
.dv-logo {
    display: block;
    width: 285px;
    margin: 0 auto;
    background: url(../images/multiyork-logo-285.png) no-repeat top left;
}
.dv-logo strong {
    display: block;
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
    height: 70px;
}
section.multiYork {
    margin: 20px 0;
}
.multiYork_Copy {
    background: #8498ac;
    color: #fff;
    text-align: center;
    padding: 50px 20px 90px;
    width: 60%;
    margin: 0 auto;
}
.multiYork_Copy h1,.multiYork_Copy p {
    font-weight: normal;
    font-size: 32px;
    line-height: 32px
}
.multiYork_Copy h1 {
    margin: 50px 0 30px;
}
.multiYork_Copy p.link {
    font-size: 36px;
    font-weight: bold;
    margin-top: 20px;
}
@media (max-width: 1365px) {
  .multiYork_Copy h1, .multiYork_Copy p {
    font-size: 24px;
    line-height: 24px;
  }
  .multiYork_Copy p.link {
    font-size:24px;
    font-weight: 700;
    margin-top: 20px;
  }
}

@media (max-width: 700px) {
  .multiYork_Copy {
    width:80%;
  }
}
