/* - - - - - - - - - - - - - - - - - - - - -

 Title : Wufoo Custom Styles - Joules Competition Form
 Author : Paul Brown
 URL : /content/joules-home-furniture

 Last Updated :17th Oct 2017

- - - - - - - - - - - - - - - - - - - - - */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Header */
header#header {
    display: none;
}

/* Backgrounds */
html{background-image:none;background-color:#99cc00}
#logo{background-image:none;background-color:#669900}
#container{background:#FFFFFF}
.wufoo input.text, .wufoo textarea.textarea{background:#FFFFFF url(/images/fieldbg.gif) repeat-x top}
.wufoo .focused{background:#FFFFFF}
.wufoo li.focused {background-color: #FFFFFF;}
.wufoo .instruct{background-color:#F5F5F5}

/* Borders */
#container{border:0 solid #cccccc}
.wufoo .info{border-bottom:1px dotted #CCCCCC}
.wufoo .instruct{border:1px solid #e6e6e6}

/* Typography */
.wufoo .info h2{font-size:160%;font-family:inherit;color:#000000}
.wufoo .info div{font-size:95%;font-family:inherit;color:#444444}
.wufoo .section h3{font-size:110%;font-family:inherit;background:#FFFFFF;color:#000000}
.wufoo .section div{font-size:85%;font-family:inherit;color:#444444}
.wufoo label.desc, .wufoo legend.desc{font-size:95%;font-family:inherit;color:#444444}
.wufoo li div, .wufoo li div label, .wufoo li span label{font-family:inherit;color:#444444}
.wufoo input.text, .wufoo textarea.textarea, .wufoo select.select, .wufoo label.choice{font-size:100%;font-family: 'Open Sans', sans-serif;color:#333333;padding: 3px 12px;}
.wufoo label.choice{color:#444444}
.wufoo .instruct{font-size:80%;font-family:inherit;color:#444444
}
/* Custom Layout styles */

li#fo5li1, li#fo5li3, li#fo5li5, li#fo5li105 {
  position: relative;
  left: 158px;
  width: 565px !important;
}
li#fo5li5 {
    padding-bottom: 0px;
}
li#fo5li105 {
    padding-top: 0px;
}
span.choice__text.notranslate {
    position: relative;
    top: -4px;
    left: -15px;
    color: #222;
    font-size: 14px;
}
/* INPUTS */
input#Field1 {
    width: 200px;
    height:30px;
}
input#Field2 {
    width: 288px;
    margin-left: 12px;
    height:30px;
}
input#Field3 {
    width: 338px;
    height:30px;
}
input#Field206 {
    height: 30px;
    width: 150px;
}
li#fo5li206 {
    position: absolute;
    top: 83px;
    left: 538px;
}

/* LABELS */
span label[for="Field1"], label[for="Field2"] {
    display: none;
}
form label#title1, form label#title3,form label#title206 {
    font-size: 18px;
    color:#222;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;

}
legend#title5 {
    display: none;
}
legend#title105 {
    display: none;
}
/* Buttons */
li.buttons {
    text-align: center;
    padding: 0px !important;
}
input#saveForm {
    background: #e51a92;
    color: #fff;
    height: 30px;
    border: none;
    width: 200px;
    box-shadow: 3px 3px 15px #aaa;
    cursor: pointer;
}
/* ERRORS */

#errorLi, .error-container {
    display: none;
}
form p.error {
    padding: 7px 0 5px 0 !important;
}

/* Media Queries - Mobile Iframe  */

@media (max-width: 540px) {
  input#Field2 {
    width: 260px;
  }
  input#Field3 {
    width: 320px;
  }
  li#fo5li206 {
    position: absolute;
    top: 83px;
    left: 363px;
  }
  li#fo5li1, li#fo5li3, li#fo5li5, li#fo5li105 {
    left: 0px;
    width: 560px !important;
  }
  input#Field206 {
    width: 138px;
  }
  span.choice__text.notranslate {
    font-size: 13px;
  }

}

@media (max-width: 420px) {
  input#Field1 {
    width: 150px;
  }
  input#Field2 {
    width: 150px;
    margin-left: 50px;
  }
  input#Field3 {
    width: 170px;
  }
  input#Field206 {
    width: 100px;
  }
  span.choice__text.notranslate {
    font-size: 10px;
  }
  h4.joulesTermsHeader {
    font-size: 15px;
  }
}
