
input[type=checkbox], input[type=radio] {
    width: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    opacity: 1;
}
.leftLabel .desc, .rightLabel .desc {
    width: 40%;
}
.leftLabel .desc, .rightLabel .desc {
    float: left;
    width: 40%;
    margin: 0 15px 0 0;
}
.leftLabel li, .rightLabel li {
    width: 100% !important;
    margin-left: 25px;
}
.leftLabel li div, .rightLabel li div {
    float: left;
    width: 57%;
}
input.medium, select.medium {
    width: 75%;
}
input.medium, select.medium {
    width: 75%;
    height: 24px;
}
label.desc, legend.desc {
    font-size: 14px;
    font-weight: 200;
}
label.choice {
    font-size: 14px;
    margin: -18px 0 0 23px;
}
input.file, input.search, input.text, select.select, textarea.textarea {
    font-size: 12px;
}
input#saveForm {
    background: #5c2c91;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    width: 233px;
    margin-top: 5px;
}
li.buttons div {
    width: 580px !important;
    margin: 0 !important;
}
li.buttons{
    padding-left:0 !important;
    text-align: center;
    margin-left:0;
}
li#fo7li2 div {
    position: relative;
    left: -10px;
}
form#form7 header {
    display: none;
}
#wufoo_header h2 {
    color: #b9b0da;
    font-size: 30px;
    font-weight: 100;
    font-family: "HelveticaNeueW01-45Ligh", Arial, sans-serif;
    margin-left:8px;
}
.wufoo li.focused {
    background-color: #f1f1f1 !important;
}

.noI form li, .altInstruct form li {
    width: 50% !important;
    margin: 0 auto !important;
}
