/* ------= Custom Wufoo Styles =------ */
#wufoo-pm075ay0vaso0f {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: rgba(0,0,0,.2) 0 0 5px;
    -o-box-shadow: rgba(0,0,0,.2) 0 0 5px;
    box-shadow: none;
    width: 580px;
    box-sizing: border-box;
}
#wufoo-pm075ay0vaso0f input[type=checkbox], input[type=radio] {
    width: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    opacity: 1;
}
#wufoo-pm075ay0vaso0f .leftLabel .desc, .rightLabel .desc {
    width: 40%;
}
#wufoo-pm075ay0vaso0f .leftLabel .desc, .rightLabel .desc {
    float: left;
    width: 40%;
    margin: 0 15px 0 0;
}
#wufoo-pm075ay0vaso0f .leftLabel li, .rightLabel li {
    width: 100% !important;
    margin-left: 25px;
}
#wufoo-pm075ay0vaso0f .leftLabel li div, .rightLabel li div {
    float: left;
    width: 57%;
}
#wufoo-pm075ay0vaso0f input.medium, select.medium {
    width: 75%;
}
#wufoo-pm075ay0vaso0f input.medium, select.medium {
    width: 75%;
    height: 24px;
}
#wufoo-pm075ay0vaso0f label.desc, legend.desc {
    font-size: 14px;
    font-weight: 200;
}
#wufoo-pm075ay0vaso0f label.choice {
    font-size: 14px;
    margin: -18px 0 0 23px;
}
#wufoo-pm075ay0vaso0f input.file, input.search, input.text, select.select, textarea.textarea {
    font-size: 12px;
}
#wufoo-pm075ay0vaso0f input#saveForm {
    background: #5c2c91;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    width: 233px;
    margin-top: 5px;
}
#wufoo-pm075ay0vaso0f li.buttons div {
    width: 580px !important;
    margin: 0 !important;
}
#wufoo-pm075ay0vaso0f li.buttons{
    padding-left:0 !important;
    text-align: center;
    margin-left:0;
}
