.amp-dc-image {
  margin:0;
  padding:0;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  display: block;

  .amp-dc-image-pic{
    display: block;
  }

  img {
    width: 100%;
    user-select: none;
  }
}

picture.amp-dc-roundel {
  display:none;
}

.RoundelWrapper {
  position: absolute;
  top: 0;
  left: 0;
}
