.amp-dc-image {
  margin:0;
  padding:0;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  display: block;

  .amp-dc-image-pic{
    display: block;
  }

  img {
    user-select: none;
  }
}
